html, body{
	height:100%;
}
img{
	border:0px;
}


tr.a {
	background: #fafafa;
}

tr.b {
	background: #ffffff;
}

pre.programlisting {
	border-style: solid;
	border-width: 1px;
	border-color: #A2A6B4;
	/*background-color: #E8EAF0;
	margin:0px 0px 10px 0px;*/
	padding:10px 50px 0px 0px;
}

div#lastPublished
{
       font-family: Arial, Helvetica, sans-serif;
       font-style: normal;
       font-size: 10px;
       line-height: 16px;
       display:block;
       color:#737275;
       border:solid #BCBCBC;
       border-width:0px 1px 0px 0px;
       padding:8px 0px 8px 10px;
       margin:0px 0px 0px 14px;
}

.barre
{
        background-color: transparent;
        color: #E06712;
        font-family: Verdana, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
        padding: 2px;
}

.barre:active
{
        background-color: #E06712;
        color: #FFFFFF;
        font-family: Verdana, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
}

.barre:visited
{
        background-color: transparent;
        color: #E06712;
        font-family: Verdana, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
        padding: 2px;

}

.barre:hover
{
	color: #FFFFFF;
	background-color: #433C7B;
        font-family: Verdana, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
}

.barreinactif
{
        background-color: #E06712;
        color: #FFFFFF;
        font-family: Verdana, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
        padding: 2px;
}

.barreinactif:visited
{
        background-color: #E06712;
        color: #FFFFFF;
        font-family: Verdana, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
        padding: 2px;
}

.barreinactif:hover
{
        background-color: #E06712;
        color: #AAAAAA;
        font-family: Verdana, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
        padding: 2px;
}

body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#EEEEEE;
	color:#000000;
	margin:0px;
	padding:0px;	
	height:100%;
}
div#mainOuter{
	border: solid #000000;
	border-width:0px 1px 0px 1px;
	width:989px;
	margin:0px auto -21px auto;
	height:100%;
	min-height:100%;

	background:url(../images/bg_borders.gif) repeat-y;	
}
html>body div#mainOuter{
	height:auto;
	background-color:#FFFFFF;
}

div.spacer{
	background:#433C7B;
	height:5px;
	clear:both;
	overflow:hidden;
}

/*div#headerOuter{
	width:989px;
	height:105px;
	background:url(../images/bg_header.png) no-repeat  top right;
	border:solid #000000;
	border-width:1px 0px 0px 0px;
}*/

div#headerOuter div{
	padding:86px 20px 0px 380px;
	text-transform:uppercase;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#e87100;
	font-weight:bold;
}

div#footerOuter{
	clear:both;
	width:989px;
	height:20px;
	line-height:19px;
	overflow:hidden;
	margin:0px auto;
	text-align:center;
	border:solid #000000;
	border-width:0px 0px 1px 0px;
	font-size:10px;
}
div#footerOuter span{
	display:block;
	height:19px;
	border-top:1px solid #D2D2D6;
	margin:0px 50px 0px 11px;
	padding:0px 0px 0px 40px;
	background:url(../images/bg_left_menu.png)  repeat-y;	
}
html>body div#footerOuter span{
	margin:0px 50px 0px 10px;
}
div#footerOuter span a{
	color:#433C7B;
	text-decoration:none;
}
div#footerOuter span a:hover{
	text-decoration:underline;
}
div.clear{
	clear:both;
	height:22px;	
}

div#centerOuter{
	background:url(../images/bg_right_border.gif) repeat-y top right;
}
div#topNav{
	font-size:10px;
	height:26px;
	overflow:hidden;
	text-align:right;
	margin:0px 50px 0px 10px;
	padding:2px 0px 0px 0px;	
	background:url(../images/bg_left_menu.png) repeat-y;
	line-height:24px;
}
div#topNav ul.left{
	float:left;
	padding:0px 0px 0px 30px;
}
div#topNav ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
		
}
div#topNav ul li{
	display:inline;
	margin:0px;
	padding:0px;
	color:#666567;
	background-color:inherit;
}
div#topNav ul li a{
	color:#666567;
}
div.bottomLine{
/*	border-bottom:1px solid #BCBCBC;*/
	overflow:hidden;
	height:1px;
	margin:-1px 50px 0px 194px;
	background-color:#BCBCBC;
}

div#menuOuter{
	width:185px;
	background:url(../images/bg_left_menu.png) repeat-y;
	margin:0px 0px 0px 10px;
}
div#poweredBy{
	background:#FFFFFF;
	text-align:center;
	padding:10px 0px 10px 20px;
}
/*level #1*/
div#menuOuter ul, div#menuOuter ul ul, div#menuOuter ul ul ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
}
div#menuOuter ul li{
	margin:0px;
	padding:0px;
}
div#menuOuter ul li span{
	display:block;
	border:solid #BCBCBC;
	border-width:0px 1px 1px 0px;
	padding:8px 0px 8px 10px;
	margin:0px 0px 0px 14px;
	font-size:11px;
	color:#737275;
	font-weight:bold;
}
div#menuOuter ul li ul{
	border:solid #BCBCBC;
	border-width:0px 0px 1px 1px;
	margin:0px 0px 0px 14px;
	background:#FFFFFF;
}
div#menuOuter ul li ul li{
	padding:3px 0px 3px 24px;	
}
div#menuOuter ul li ul li a{
	color:#737275;
	text-decoration:none;
	font-size:11px;	
}
div#menuOuter ul li ul li a.active{
	background-image:none;
	color:#433C7B;
	text-decoration:underline;
}

div#menuOuter ul li ul li ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px;
	font-size:11px;
	border:0px;
}
div#menuOuter ul li ul li ul li{
	padding:3px 0px 3px 10px;
}
div#menuOuter ul li ul li ul li a{
	
}

div#menuOuter ul li ul li.collapsed{
	background:url(../images/bul_prmenu_collapsed.gif) no-repeat 12px 8px;
}
div#menuOuter ul li ul li.expanded{
	background:url(../images/bul_prmenu_expanded.gif) no-repeat 10px 10px;
}

html>body div#menuOuter ul li ul li.collapsed {
	background:url(../images/bul_prmenu_collapsed.gif) no-repeat 12px 7px;
}

html>body div#menuOuter ul li ul li.expanded {
	background:url(../images/bul_prmenu_expanded.gif) no-repeat 10px 9px;
}


div#menuOuter ul li ul li.collapsed li , div#menuOuter ul li ul li.expanded li {
	background-image:none;
}

html>body div#menuOuter ul li ul li.collapsed li , html>body div#menuOuter ul li ul li.expanded li {
	background-image:none;
}


div#menuOuter ul li.blank{
	padding:0px;
	margin:0px;
	border:solid #BCBCBC;
	border-width:0px 1px 1px 0px;
	height:14px;
	overflow:hidden;
}



div#contentOuter{
	float:right;
	width:710px;
	padding:10px 50px 0px 0px;
}

/*content formatting*/
div#contentOuter a{
	color:#433C7B;
	/*text-decoration:none;*/
	
	line-height:150%;
}
div#contentOuter a:hover{
	color:#433C7B;
	text-decoration:underline;
}

/*customization for docbook*/
div#section {
   	height:14px;
}

h1
{
	color: #E06611;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 27px;
	font-weight: bold;
	border-color: #99C;
	border-width: 0 0 4px 0;
	border-style: none none solid none;
	background-color: #ffffff;
	margin: 10px 0px 5px 0px;
}

h2
{
	color: #99C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 27px;
	font-weight: normal;
	border-color: #E06611;
	border-width: 0 0 4px 0;
	border-style: none none solid none;
	margin: 10px 0px 5px 0px;
	background-color: #ffffff;
}

h3
{
	color: #E06611;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: bold;
	border-color: #E8EAF0;
	border-width: 0 0 2px 0;
	border-style: none none solid none;
	margin: 10px 0px 5px 0px;
	background-color: #ffffff;
}
h4
{
	color: #99C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	border-color: #E8EAF0;
	border-width: 0 0 2px 0;
	border-style: none none solid none;
	margin: 10px 0px 5px 0px;
	background-color: #ffffff;
}
h5
{
	color: #E06611;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	border-color: #E8EAF0;
	border-width: 0 0 2px 0;
	border-style: none none solid none;
	margin: 10px 0px 5px 0px;
	background-color: #ffffff;
}
h6
{
	color: #99C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 22px;
	font-weight: normal;
	border-color: #E8EAF0;
	border-width: 0 0 2px 0;
	border-style: none none solid none;
	margin: 10px 0px 5px 0px;
	background-color: #ffffff;
}

/*h1{
	background-color:#EBF5D8;
	color:#51524F;
	font-weight:bold;
	font-size:14px;
	padding:5px 30px;
	line-height:150%;	
}
h2{
	background-color:#EBF5D8;
	color:#51524F;
	font-weight:bold;
	font-size:12px;
	padding:5px 30px;
	line-height:150%;	
}
h3{
	color:#51524F; 
	font-weight:bold;
	font-size:11px;
	padding:5px 30px;
	line-height:150%;	
}*/

/*p{
	font-size:11px;
	line-height:150%;
	margin:1px 0px;
	text-indent:0px;
}*/

p
{
       color: black;
       font-family: Arial,Helvetica, sans-serif;
       font-size: 12px;
       line-height: 16px;
       font-weight: normal;
       margin: 10px 10px 5px 0px;
}

a
{
       color: #3F3975;
       background-color: transparent;
       text-decoration: underline;
}

a:visited
{
       color: #9898CB;
       background-color: transparent;
       text-decoration: underline;
}

a:hover
{
       color: #E06611;
       background-color: transparent;
       text-decoration: underline;
}

a:active
{
       color: black;
       background-color: transparent;
       text-decoration: underline;
}

blockquote
{
       color: black;
       font-family: Arial,Helvetica, sans-serif;
       font-size: 11px;
       line-height: 15px;
       font-weight: normal;
       margin: 20px 0px 5px 0px;
}

pre
{
       color: #433C7B;
    background-color: #ededed;
    border: 1px solid gray;
}

code {
       color: #433C7B;
}

tt {
       color: #433C7B;
 }
 
table.bodyTable{
	width:100%;
	margin:5px 0px;
}
table.bodyTable caption{
	font-size:10px;
}

table.bodyTable{
	border:solid #BCBCBC;
	border-width:1px 0px 0px 1px;
	border-collapse:collapse;
	border-spacing:0px;
}
table.bodyTable td, table.bodyTable th{
	border:solid #BCBCBC;
	border-width:0px 1px 1px 0px;
	padding:5px;
	font-size:11px;
}

div#bannerLeft
{
	 margin: 0px 0px -3px 0px;
}
